{% extends "base.html" %}

{% block main %}
<h1 class="display-5 fw-bold">Create Property</h1>
<form action= "{{ url_for('create_property') }}" class="row g-3" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{form.type.label(class="form-label")}}
        {{form.type(class="form-select")}}
    </div>
    <div class="mb-3">
        {{ form.no_of_bedrooms.label(class="form-label") }}
        {{ form.no_of_bedrooms(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.no_of_bathrooms.label(class="form-label") }}
        {{ form.no_of_bathrooms(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.picture.label(class="form-label") }}
        {{ form.picture(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
        